/* components/FloatingMenu.module.css */
.floatingMenu {
    background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.floatingMenu .nav-link {
    color: #007bff;
}

.floatingMenu .nav-link:hover {
    color: #0056b3;
}

.floatingMenu .nav-link div {
    font-size: 0.3rem;
}

.floatingActive {
    color: #ff1d50;
}

.floatingTextSize{
    font-size: 14px;
}